<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
      <div class="user-image">
        <img src="/images/my image1.jpg">
      </div>
      <div class="user-name">
          Mohammadfaiz Samjani
      </div>
      <div class="user-designation">
          Zomato Head Officer
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/adminPanel">
          <i class="icon-box menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#addCity" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-disc menu-icon"></i>
          <span class="menu-title">City</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="addCity">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/addCity">Add City</a></li>
            <li class="nav-item"> <a class="nav-link" href="/viewCity">City List</a></li>
          </ul>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#addHotel" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-disc menu-icon"></i>
          <span class="menu-title">Hotel & Restaurant</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="addHotel">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/addHotel">Add Hotel & Res.</a></li>
            <li class="nav-item"> <a class="nav-link" href="/showHotel">Hotel & Res. List</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userRequest">
          <i class="icon-pie-graph menu-icon"></i>
          <span class="menu-title">USER REQUEST</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log-out">
          <i class="icon-pie-graph menu-icon"></i>
          <span class="menu-title">Log-Out</span>
        </a>
      </li>
    </ul>
  </nav>